header {
    position: absolute;
    max-width: 1280px;
    top: 0;
    left:0;
    right:0;
    padding: 0;
    margin-left:auto;
    margin-right:auto;
    z-index: 998;
  
    .header-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: linear-gradient(180deg, 
        rgba(32,32,32,0.90) 0%, 
        rgba(28,28,28,0.58) 50%, 
        rgba(78,78,78,0) 100%);
        // padding: 0 0 40px 0;
  
        .logo {
            z-index: 999;
            align-self: flex-end;
            font-size: 2.2em;
  
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
  
}

/* On screens smaller than 992px */
@media screen and (max-width: 992px) {
    header {
        position: relative;
        display: contents;
        width: 100%;
    };

    .header-wrapper {
        width: 100%
    }

    .logo {
        margin-left: 60px;
        font-size: 1.8em !important;
    }
}