@import "../../../../global/app.scss";

.banner {
    max-width: 1025px;
    width: 100%;
    background-color: lightgray;
    position: relative;
    margin: 30px 0;
    z-index: 100;

    &--rectangle {
        width: inherit;
        padding: 10px 0;
    }

    &--grid-items {
        display: grid;
        grid-gap: 10px;
        padding: 10px;
    }
}

.item-grid {
    &--item1 { 
        grid-column: 1; 

        b { display: block; }
    }
    &--item2 { grid-column: 2 / span 4; }
    &--item3 { grid-column: 6; }
}

/* On screens smaller than 992px */
@media  screen and (max-width: 992px) {
    .banner {
        &--rectangle {
        width: 460px;
        height: 160px;
        margin: auto;
        }
    }
}
